// next/prev buttons
.carousel_control_prev, .carousel_control_next {
	font-size: 25px;
	line-height: 0;
	margin-top: -0.5em;
	padding: 0;
	pointer-events: initial !important;
	position: absolute;
	top: 50%;
	z-index: 2;
}
.carousel_control_prev {left: 0;}
.carousel_control_next {right: 0;}

// thumbnail carousel
.thumbnail_carousel {
	margin: 0 auto;
	padding: 0 30px;
	width: 552px; // 6 items carousel width + 2 arrows
	.thumbnail {
		display: block;
		font-size: 10px;
		height: 8em;
		width: 8em;
	}
	.swiper-slide-thumb-active .thumbnail{border: 2px solid;}
}