// sticky footer
html, body {height: 100%;}
.main_wrap {display: flex;flex-direction: column;min-height: 100%;}
.main_header, .main_footer {flex: none;}
.content_wrapper {flex: 1 0 auto;}

.main_footer {
	background: $black;
	padding: 4% 0 2%;
}
.footer_nav {
	.menu_nested_list > .sub-menu {
		align-items: flex-start;
		flex-direction: column;
	}
	.sub-menu > li {margin: 3px 0;}
}