.main_header {
	a {text-decoration: none !important;}
	.header_top_nav {
		border-bottom: 1px solid $gray-700;
		padding: 5px 0;
		position: relative;
	}
	.header_main_nav {
		border-bottom: 1px solid $gray-700;
		padding: 15px 0;
		position: relative;
	}
	@media (max-width: 767px) {
		.header_mobile_nav {
			border-bottom: 1px solid $gray-700;
			padding: 5px 10px;
			position: relative;
		}
	}
}