.widget_shopping_cart {padding: 0 10px;}
.woocommerce-mini-cart {
	list-style: none;
	margin-bottom: 7px;
	padding: 0;
}
.woocommerce-mini-cart-item {
	align-items: center;
	border-bottom: 1px solid $gray-400;
	display: flex;
	padding: 7px 0;
	a {
		max-width: 180px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.remove_from_cart_button {
		font-size: 25px;
		padding: 5px 7px;
		&:hover {opacity: 0.35;}
	}
	img {
		height: 50px;
		margin-right: 5px;
		width: 50px;
	}
	.quantity {
		margin-left: 8px;
		white-space: nowrap;
	}
}
.button.checkout {margin-left: 10px;}