.modal {
	.modal-title {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.btn-close {
		font-size: 21px;
		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	// image modal
	&.img_modal {
		.modal-dialog {
			margin: 0 auto !important;
			max-width: 960px;
			width: 100%;
		}
		.modal-body {padding-bottom: 0;padding-top: 0;}
		.item_img {cursor: pointer;}
		@media (max-width: 575px) {.thumbnail_carousel {width: 306px;}}
	}

	// comment low-rating modal
	&.low_rating_modal {
		.alert svg {
			height: 3em;
			float: left;
			margin-right: 20px;
			width: 3em;
		}
		.modal-footer .row {width: 100%;}
	}
}