ul.page-numbers {
	margin: 30px;
	a {
		@include flex_align();
		border: 1px solid;
		line-height: 1em;
		padding: 8px 10px;
		text-decoration: none!important;
	}
	svg {
		height: 1em;
		width: 1em;
	}
}