// remove chrome/firefox input number styles
input[type="number"] {
	-moz-appearance: textfield !important;
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {-webkit-appearance: none;}
}

// remove chrome/firefox autofill backgrodund
.form-control, .form-select {
	filter: none;
	&:-webkit-autofill {box-shadow: 0 0 0 30px white inset !important;}
}

// buttons
.btn {
	text-transform: uppercase;
	svg {
		height: 1em;
		width: 1em;
	}
}