// remove bad shadow on focus
.form-control:focus, .form-select:focus, .form-check-input:focus, .btn:focus {box-shadow: none !important;}

// remove chrome/firefox input number styles
input[type="number"] {
	-moz-appearance: textfield !important;
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {-webkit-appearance: none;}
}

// remove chrome/firefox autofill backgrodund
.form-control, .form-select {
	filter: none;
	&:-webkit-autofill {box-shadow: 0 0 0 30px white inset !important;}
}

// custom input file upload
.wrap_file_uploader {height: auto;}
.custom-file-input {
	bottom: 0;
	height: auto;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.file_label {
	cursor: pointer !important;
	left: auto !important;
	margin-top: -2px;
	right: 0;
	svg {
		height: 1em;
		width: 1em;
	}
}
.list_file_upload {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	position: relative;
	z-index: 2;
	li {
		@include flex_align(space-between, stretch, nowrap);
		background: $gray-300;
		border: 1px solid $gray-200;
		margin: 0 9px 15px 0;
		width: 250px;
		&.error_filesize {color: theme-color( 'danger' );}
	}
	.preview {
		flex: none;
		line-height: 0;
	}
	.file_info {
		padding: 15px 7px 0;
		width: 100px;
	}
	.file_name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.remove_thumbnail_img {
		@include flex_align(center);
		background: $white;
		border-left: 1px solid $gray-200;
		flex: 0 0 48px;
		font-size: 25px;
		svg {
			height: 1em;
			width: 1em;
		}
	}
}

// label moving-effect on focus/blur
.js_label_on_input {
	position: relative;
	label {
		background: $white;
		color: $gray-600;
		cursor: text;
		left: 8px;
		line-height: 1.429;
		transition: all 0.3s;
		padding: 0 7px;
		position: absolute;
		top: 9px;
	}
	.form-control:focus, .form-control.not_empty, .custom-file-input.not_empty {
		~ label {
			color: $primary;
			font-size: 11px;
			top: -8px;
			z-index: 3;
		}
	}
}

// extend native validation
.not_required_feedback {display: none !important;}
.form-control.not_empty, .form-select.not_empty {
	.was-validated &:invalid, &.is-invalid {
		~ .invalid-feedback, ~ .invalid-tooltip {display: none !important;}
		~ .not_required_feedback {display: block !important;}
	}
}

// buttons
.btn {
	text-transform: uppercase;
	svg {
		height: 1em;
		margin: 0 4px 0 0;
		width: 1em;
	}
	/* add/remove product text */
	.loading_txt, .added_to_cart_txt {display: none;}
	&.loading {
		opacity: 0.5;
		pointer-events: none;
		.default_txt, .added_to_cart_txt {display: none !important;}
		.loading_txt {display: inline !important;}
	}
	&.added {
		.default_txt {display: none;}
		.added_to_cart_txt {display: inline;}
	}
}

// custom +- block
.count_block {
	@include flex_align(flex-start, stretch, nowrap);
	border: 1px solid $primary;
	flex: none;
	font-size: 10px;
	.wrap_count_input {
		position: relative;
		width: 4.6em;
	}
	input {
		background: $white !important;
		border: none;
		border-radius: 0;
		border-left: 1px solid $primary;
		border-right: 1px solid $primary;
		bottom: 0;
		height: auto;
		left: 0;
		padding: 6px 6px 5px 5px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
	}
	.count_block_btn {
		@include flex_align();
		flex: none;
		height: 3.1em;
		padding: 5px;
		width: 3.1em;
		svg {
			height: 100%;
			width: 100%;
		}
	}
}