// remove bad shadow on focus
.form-control:focus, .form-select:focus, .form-check-input:focus, .btn:focus {box-shadow: none !important;}

// fix bootstrap floating textarea height
.form-floating > textarea.form-control {height: auto !important;}

// remove chrome/firefox input number styles
input[type="number"] {
	-moz-appearance: textfield !important;
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {-webkit-appearance: none;}
}

// remove chrome/firefox autofill backgrodund
.form-control, .form-select {
	filter: none;
	&:-webkit-autofill {box-shadow: 0 0 0 30px white inset !important;}
}

// custom input file upload
.custom-file-input {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.file_label_text {
	opacity: 1 !important;
	transform: none !important;
}
.file_label {
	opacity: 1 !important;
	left: auto !important;
	right: 0;
	svg {
		height: 1em;
		width: 1em;
	}
}
.list_file_upload {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	position: relative;
	z-index: 2;
	li {
		@include flex_align(space-between, stretch, nowrap);
		background: $gray-300;
		border: 1px solid $gray-200;
		margin: 0 9px 15px 0;
		width: 250px;
		&.error_filesize {color: $danger;}
	}
	.preview {
		flex: none;
		line-height: 0;
	}
	.file_info {
		padding: 15px 7px 0;
		width: 100px;
	}
	.file_name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.remove_thumbnail_img {
		@include flex_align(center);
		background: $white;
		border-left: 1px solid $gray-200;
		flex: 0 0 48px;
		font-size: 25px;
		svg {
			height: 1em;
			width: 1em;
		}
	}
}
// file validation
.js_wrap_upload_files.not_empty {height: auto !important;}
.js_wrap_upload_files.not_empty ~ .file_label_text {
	opacity: .65 !important;
	transform: scale(.85) translateY(-.5rem) translateX(.15rem) !important;
}
.filelength_invalid ~ .filelength_invalid, .filesize_invalid ~ .filesize_invalid {display: block !important;}

// buttons
.btn {
	text-transform: uppercase;
	/* add/remove product text */
	.loading_txt, .added_to_cart_txt {display: none;}
	&.loading {
		opacity: 0.5;
		pointer-events: none;
		.default_txt, .added_to_cart_txt {display: none !important;}
		.loading_txt {display: inline !important;}
	}
	&.added {
		.default_txt {display: none;}
		.added_to_cart_txt {display: inline;}
	}
}

// custom +- block
.count_block {
	@include flex_align(flex-start, stretch, nowrap);
	border: 1px solid $primary;
	flex: none;
	font-size: 10px;
	.wrap_count_input {
		position: relative;
		width: 4.6em;
	}
	input {
		background: $white !important;
		border: none;
		border-radius: 0;
		border-left: 1px solid $primary;
		border-right: 1px solid $primary;
		bottom: 0;
		height: auto;
		left: 0;
		padding: 6px 6px 5px 5px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
	}
	.count_block_btn {
		@include flex_align();
		flex: none;
		height: 3.1em;
		padding: 5px;
		width: 3.1em;
		svg {
			height: 100%;
			width: 100%;
		}
	}
}