.item_img {
	@include flex_align(center);
	overflow: hidden;
	max-width: 100%;
	img {
		max-height: 100%;
		width: auto;
	}
}
.object_fit img {
	object-fit: cover;
	height: 100%;
	max-height: none !important;
	width: 100%;
}