// show/hide desktop/mobile menus
@include media-breakpoint-up(md) {.header_top_nav_mobile, .header_main_nav_mobile, .support_nav_mobile {display: none;}}
@include media-breakpoint-down(md) {.header_top_nav, .header_main_nav, .support_nav {display: none;}}

// logged/unlogged users
.user_logged .display_logout {display: none !important;}
.user_unlogged .display_logged {display: none !important;}


// menu-items
.menu-item > a, .wishlist_products_counter {
	@include flex_align(flex-start, center, nowrap);
	color: inherit;
	.menu_icon {
		margin-right: 3px;
		order: -1;
		width: 1em;
		svg {width: 100%;}
	}
	.screen-reader-text ~ .menu_icon, &.no-txt .menu_icon {margin-right: 0;}
}
.menu-item {
	.notifications_text, .wishlist_products_counter_number {
		position: absolute;
		left: -1.3em;
		top: -0.3em;
	}
}


// subnavs - dropdowns
svg.arrow {
	height: 0.7em;
	margin-left: 3px;
	width: 0.7em;
}
[aria-expanded="true"] > svg.arrow {transform: rotate(200grad);}
@include media-breakpoint-up(md) {
	.dropdown_left:not(.menu_nested_list) {
		.sub-menu {
			svg.arrow {transform: rotate(-100grad);}
			.sub-menu {
				left: 100%;
				top: 0;
			}
		}
	}
	.dropdown_right:not(.menu_nested_list) {
		> .dropdown-menu {
			left: auto;
			right: 0;
		}
		.sub-menu {
			svg.arrow {
				order: -1;
				margin: 0 3px 0 0;
				transform: rotate(100grad);
			}
			.sub-menu {
				left: auto;
				right: 100%;
				top: 0;
			}
		}
	}
}
// fullwidth dropdown
.header_top_nav, .header_main_nav, .header_top_nav_mobile, .header_main_nav_mobile {position: relative;}
.dropdown_fullwidth {
	position: static;
	> .sub-menu {
		margin: -1px 0 0;
		width: 100%;
		> li {flex-grow: 1;}
	}
}
.arrow_hide > [data-bs-toggle="dropdown"], .arrow_hide > [data-bs-toggle="collapse"] {> svg.arrow {display: none;}}


// menu list
.menu_nested_list {
	position: static;
	z-index: 5;
	> a {display: none;}
	> .dropdown-menu {
		background: none;
		border: none;
		color: inherit;
		font-size: inherit;
		min-width: 0;
		position: static;
		> li > .dropdown-item {
			background: none;
			color: inherit;
			padding: 0;
		}
	}
}


// widgets
.yspl_win_title {display: none;}
.textwidget * {margin: 0;}


// left navigation - in starter it's faq/support pages
.support_nav, .support_nav_mobile {
	li::after {display: none !important;}
	.list > li, .menu_nested_list > .sub-menu {width: 100%;}
	.dropdown_fullwidth {position: relative;}
	a {
		border: 1px solid $gray-400;
		margin-top: -1px;
		padding: 10px 15px !important;
		width: 100%;
	}
}