// import bootstrap by "Option B: Include parts of Bootstrap" - see https://getbootstrap.com/docs/5.0/customize/sass/#importing

// BOOTSTRAP
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "./node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "theme/variables.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/utilities";

// 3.1 Add-remove colors for color map - see https://getbootstrap.com/docs/5.0/customize/sass/#maps-and-loops
/* // Remove from color map
$theme-colors: map-remove($theme-colors, "info", "light", "dark");
// Create your own map
$custom-colors: (
  "custom-color": #900
);
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors); */

// 4. Include any optional Bootstrap components as you like
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/containers";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/transitions";
@import "./node_modules/bootstrap/scss/dropdown";
@import "./node_modules/bootstrap/scss/button-group";
@import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
@import "./node_modules/bootstrap/scss/card";
@import "./node_modules/bootstrap/scss/accordion";
// @import "./node_modules/bootstrap/scss/breadcrumb";
// @import "./node_modules/bootstrap/scss/pagination";
@import "./node_modules/bootstrap/scss/badge";
@import "./node_modules/bootstrap/scss/alert";
@import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/list-group";
@import "./node_modules/bootstrap/scss/close";
@import "./node_modules/bootstrap/scss/toasts";
@import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
@import "./node_modules/bootstrap/scss/spinners";
@import "./node_modules/bootstrap/scss/offcanvas";
// Helpers
@import "./node_modules/bootstrap/scss/helpers";
// Utilities
@import "./node_modules/bootstrap/scss/utilities/api";
// END BOOTSTRAP



// PLUGINS
// swiper
@import "./node_modules/swiper/swiper-bundle";
// END PLUGINS



// CUSTOM CODE
@import "theme/mixins/mixins";

// common styles
@import "theme/common";

// snippets
@import "theme/snippets/snippets";

// components
@import "theme/components/components";

// woo
@import "theme/woo/woo";
// END CUSTOM CODE