@mixin ellipsis($lines: 2, $lineHeight: 1.5em) {
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	max-height: $lines*$lineHeight;
	overflow: hidden;
	word-break: break-word;
}