@import "./node_modules/bootstrap/scss/functions";

// Color system
// ----------------------------------
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
$red:      #F91102; // use
$pink:     #EE59A1; // use
$green:    #03AF00; // use
$orange:   #F86E33; // use
$theme-colors: (
  "primary": #202020,
  "danger": #F91102,
);
$primary: #202020;


// Settings for the `<body>` element.
$body-bg:                   $white;
$body-color:                $primary;


// links
$link-color:                theme-color("primary");
// $link-decoration:           none !default;
// $link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     none;


// grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$grid-gutter-width:           20px !default;


// Quickly modify global styling by enabling or disabling optional features.
// $enable-caret:              true !default;
// $enable-rounded:            true !default;
$enable-shadows:            true;
// $enable-gradients:          false !default;
// $enable-transitions:        true !default;
// $enable-grid-classes:       true !default;
$enable-print-styles:       false;


// font-family
$font-family-sans-serif:    var(--default-font-family);


$paragraph-margin-bottom:   0.35rem;
$component-active-bg:       theme-color("primary") !default;


// forms
$input-border-color:        $gray-200;
$input-font-size:           16px;
$input-font-family:         var(--default-font-family);
$input-color:               $primary;
$input-bg:                  $white;
$input-placeholder-color:   $gray-700;
$input-focus-color:         #000;
$input-focus-border-color:  $primary;
$input-btn-line-height:     1.7;
$dropdown-border-color:     $gray-700;

// buttons
$btn-font-weight:           600;
$btn-font-size:             11px;
$btn-font-family:           var(--default-font-family);


// select
$custom-select-indicator:           str-replace(url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.44945 6.14977C4.64897 5.95024 4.97246 5.95024 5.17198 6.14977L7.97019 8.94797L10.7684 6.14976C10.9679 5.95024 11.2914 5.95024 11.4909 6.14976C11.6905 6.34929 11.6905 6.67278 11.4909 6.8723L8.33146 10.0318C8.13194 10.2313 7.80845 10.2313 7.60893 10.0318L4.44945 6.8723C4.24992 6.67278 4.24992 6.34929 4.44945 6.14977Z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-focus-box-shadow: none;
$custom-select-bg-size: 18px 33px;


// Modals
// ----------------------------------
$modal-content-border-width: 0;
$modal-header-border-width: 0;