// common styles, indicator
.filter_block {
	margin-bottom: 30px;
	&, .woocommerce-ordering select {
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.woocommerce-result-count, .woocommerce-notices-wrapper {display: none !important;}
	.widget-title {
		border-bottom: 1px solid $gray-400;
		padding-bottom: 5px;
		@include flex_align();
		text-decoration: none;
		.notifications_text {margin-left: 3px;}
	}
	.indicator_color {
		border: 1px solid $gray-300;
		border-radius: 100%;
		display: inline-block;
		height: 1.2em;
		margin-right: 7px;
		vertical-align: middle;
		width: 1.2em;
	}
	.wrap_text {font-size: 12px;}
}

// woo filter list styles
.woocommerce-widget-layered-nav-list {
	list-style: none;
	padding-left: 0;
	a {
		padding: 2px 0 0;
		text-decoration: none !important;
	}
}
.sidebar_list > li {margin-bottom: 20px;}

// reset button
.filtered .filter_reset_btn {display: block !important;}

// price filter
.product_filter_sort_ajax .price_filter_btn {display: none;}
.widget_price_filter {
	.price_filter_btn {margin: 5px 10px;}
	.price_label {display: none !important;}
	.price_slider {
		background-color: $gray-500;
		display: block !important;
		height: 0.5em;
		font-size: 10px;
		margin: 5px 0.75em 20px;
		position: relative;
	}
	.ui-slider-range {
		background-color: $black;
		height: 100%;
		position: absolute;
		top: 0px;
	}
	.ui-slider-handle {
		background-color: $white;
		border: 1px solid;
		cursor: ew-resize;
		height: 2em;
		margin-left: -0.75em;
		position: absolute;
		top: -0.8em;
		width: 1.5em;
	}
	.price_slider_amount input {display: block !important;}
}

// list, dropdown, collapse view mixins - used below for both desktop/moible
@mixin filter_list() {
	.widget-title  {
		pointer-events: none;
		svg {display: none;}
		&[data-toggle="collapse"] {display: none;}
	}
	.collapse {display: block;}
	.dropdown-menu {
		border: none;
		box-shadow: none;
		display: block;
		float: none;
		position: static;
	}
}
@mixin filter_dropdown() {
	.widget-title[data-toggle="collapse"] {display: none;}
	.collapse {display: block;}
	.dropdown-menu {padding: 15px 15px 12px;}
}
@mixin filter_collapse() {
	.widget-title[data-toggle="dropdown"] {display: none;}
	.dropdown-menu {
		border: none;
		box-shadow: none;
		display: block;
		float: none;
		position: static;
	}
}

// responsive
@media (min-width: 768px) {
	.filter_desktop_list {@include filter_list();}
	.filter_desktop_dropdown {@include filter_dropdown();}
	.filter_desktop_collapse {@include filter_collapse();}
	.mobile_filters_btn {display: none !important;}
	.close_filters {display: none;}
}
@media (max-width: 767px) {
	.filter_mobile_list {@include filter_list();}
	.filter_mobile_dropdown {@include filter_dropdown();}
	.filter_mobile_collapse {@include filter_collapse();}
	.mobile_filters_btn {@include flex_align(center, center, nowrap);}
	.sidebar_list {
		> li {
			border-bottom: 1px solid $gray-400;
			margin: 0;
			padding: 0 30px;
		}
		.widget-title {
			border: none;
			padding: 15px 0;
		}
	}
	.all_filters {
		background: content-box $white;
		height: 100%;
		left: -110%;
		overflow: auto;
		padding-right: 40px;
		position: fixed !important;
		top: 0;
		transition: all 0.3s linear;
		width: 100%;
		z-index: 4;
		-webkit-overflow-scrolling: touch;
	}
	.close_filters {
		color: $white !important;
		display: none;
		font-size: 15px;
		position: fixed;
		right: 6px;
		top: 20px;
		svg {
			height: 2.5em;
			width: 2.5em;
		}
	}
	.backdrop {
		background-color: $black;
		bottom: 0;
		cursor: pointer;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		transition: all 0.3s linear;
		top: 0;
		z-index: -5;
	}
	.js_show_filters {
		overflow: hidden;
		.backdrop {
			opacity: 0.75;
			z-index: 3;
		}
		.js_wrap_filters {left: 0 !important;}
		.close_filters {display: block;}
	}
}