// comments
.comment_list {
	.wrap_rating_list {font-size: 16px;}
	.dropdown-menu {
		overflow: hidden;
		padding: 0;
	}
}
.table_ratings {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 0;
	tr:nth-child(even) td {background: $gray-100;}
	.wrap_rating_list {font-size: 20px;}
}

// comment form
.ratings_list {
	box-shadow: none;
	font-size: 14px;
	font-weight: 600;
	height: auto;
	margin-bottom: 20px;
	padding: 0;
	> li {
		@include flex_align(space-between, center, nowrap);
		padding: 20px;
		&:nth-child(odd) {background: $gray-100;}
	}
	.wrap_rating_list {
		font-size: 20px;
		li {cursor: pointer;}
	}
}

// comment low-rating modal
.low_rating_modal {
	.alert svg {
		height: 3em;
		float: left;
		margin-right: 20px;
		width: 3em;
	}
	.modal-footer .row {width: 100%;}
}