.select2-container .select2-selection--single {
	border: none;
	height: auto;
}
// copied from bootstrap\scss\forms\_form-select.scss
.select2-selection__rendered {
  width: 100%;
  padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
  font-family: $form-select-font-family;
  @include font-size($form-select-font-size);
  font-weight: $form-select-font-weight;
  line-height: $form-select-line-height !important;
  color: $form-select-color !important;
  background-color: $form-select-bg;
  background-image: escape-svg($form-select-indicator);
  background-repeat: no-repeat;
  background-position: $form-select-bg-position;
  background-size: $form-select-bg-size;
  border: $form-select-border-width solid $form-select-border-color;
  @include border-radius($form-select-border-radius, 0);
  @include box-shadow($form-select-box-shadow);
  appearance: none;
}
.select2-container--open .select2-selection__rendered {border-color: $form-select-focus-border-color;}
// END copied from bootstrap\scss\forms\_form-select.scss
.select2-selection__arrow, .select2-selection__placeholder {display: none;}
.select2-dropdown {
	border: 1px solid $form-select-focus-border-color;
	padding: 0 25px 15px;
	@media (max-width: 991px) {padding: 15px;}
	&.select2-dropdown--below {box-shadow: 0 16px 11px 0 rgba(37, 37, 37, 0.3);}
	&.select2-dropdown--above {margin-top: 7px;}
}
.select2-results__option--highlighted, [data-selected="true"] {
	background: $primary !important;
	color: $white !important;
}