// drop select2 wrap styles
.select2-container .select2-selection--single {
	border: none;
	height: auto;
}

// style as bootstrap form-control: copied from bootstrap\scss\forms\_form-select.scss
.select2-selection__rendered {
	width: 100%;
	padding: $form-select-padding-y $form-select-indicator-padding $form-select-padding-y $form-select-padding-x;
	font-family: $form-select-font-family;
	@include font-size($form-select-font-size);
	font-weight: $form-select-font-weight;
	line-height: $form-select-line-height !important;
	color: $form-select-color !important;
	background-color: $form-select-bg;
	background-image: escape-svg($form-select-indicator);
	background-repeat: no-repeat;
	background-position: $form-select-bg-position;
	background-size: $form-select-bg-size;
	border: $form-select-border-width solid $form-select-border-color;
	@include border-radius($form-select-border-radius, 0);
	@include box-shadow($form-select-box-shadow);
	@include transition($form-select-transition);
	appearance: none;
}
.select2-container--open .select2-selection__rendered {border-color: $form-select-focus-border-color;}
// END style as bootstrap form-control: copied from bootstrap\scss\forms\_form-select.scss

// fix when is not selected
.select2-selection__rendered {min-height: 38px;}

// hide arrow
.select2-selection__arrow {display: none;}

// style dropdown
.select2-dropdown {border: 1px solid $form-select-focus-border-color;}
.select2-container--open .select2-dropdown {box-shadow: 0 0 11px 15px rgba(37, 37, 37, 0.3);}
.select2-results__option--highlighted, [data-selected="true"] {
	background: $primary !important;
	color: $white !important;
}