// images
.single_main_img {
	$imgBoxWidth: (
		xs: calc(100vw - 10px),
		sm: 530px,
		md: 340px,
		lg: 460px,
		xl: 550px
	);
	$imgAspectRatio: 1.3;
	@include imgHeightItem($imgBoxWidth, $imgAspectRatio);
}
.loop_btn {
	top: 5px;
	position: absolute;
	right: 5px;
	stroke: $white;
	stroke-width: 0.3px;
	transition: all 0.08s linear;
	svg {
		height: 2em;
		width: 2em;
	}
	&:hover {opacity: 0.5;}
}
.js_zoom_element {
	cursor: move;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 300ms ease-in-out;
	&.zoomOn {opacity: 1;}
}
.wrap_single_images .thumbnail_carousel {
	@media (max-width: 1199px) {width: 470px;}
	@media (max-width: 991px) {width: 306px;}
}


// right part
.single_top_titles {
	border-bottom: 1px solid $gray-400;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.single_tool_list {
	font-size: 9px;
	margin-bottom: 20px;
	text-transform: uppercase;
	a {text-decoration: none !important;}
	> li::after {content: '|';}
	.tool_link {
		> a {@include flex_align(flex-start, center, nowrap);}
		svg {
			height: 1.35em !important;
			width: 1.35em !important;
		}
		svg, .tinvwl-icon-custom img, .tinvwl-product-make-remove::before {margin-right: 5px !important;}
	}
	.wrap_rating_list {font-size: inherit;}
}
.share_dropdown {
	padding: 0;
	li {margin: 0;}
	.dropdown-menu {
		border: none;
		padding: 0;
		a {
			color: $white;
			display: block;
			font-size: 12px;
			padding: 8px;
			svg {
				height: 1.6em;
				margin-right: 7px;
				width: 1.6em;
			}
			&.twitter {background: #48AAE6;}
			&.facebook {background: #4862A3;}
		}
	}
}
.single_main_content {
	.wrap_price {
		.price {@include flex_align();}
		font-size: 30px;
		margin-bottom: 10px;
		del {
			color: $gray-600;
			font-size: 0.8em;
			margin-left: 5px;
			order: 1;
		}
		ins {text-decoration: none;}
	}
	.count_block {font-size: 15px;}
	.wc-forward {display: none !important;}
}
.single_product .title_section {margin-bottom: 30px;}