// images
.single_main_img {
	align-items: flex-start;
	aspect-ratio: 1.3;
}
.loop_btn {
	top: 5px;
	position: absolute;
	right: 5px;
	stroke: $white;
	stroke-width: 0.3px;
	transition: all 0.08s linear;
	z-index: 2;
	svg {
		height: 2em;
		width: 2em;
	}
	&:hover {opacity: 0.5;}
}
.touch_device .single_main_img, .single_main_img:not(.zoomOn) {background-image: none !important;}
html:not(.touch_device) .single_main_img.zoomOn img {opacity: 0;}
.js_singlepage_thumbnail_carousel.thumbnail_carousel {
	@include media-breakpoint-down(xl) {width: 470px;}
	@include media-breakpoint-down(lg) {width: 306px;}
}

// rating, review/share/fav buttons
.single_tool_list {
	border-top: 1px solid $gray-400;
	font-size: 11px;
	padding-top: 10px;
	text-transform: uppercase;
	a {text-decoration: none;}
	> li::after {content: '|';}
	.tool_link {
		> a {@include flex_align(flex-start, center, nowrap);}
		svg {
			height: 1.35em !important;
			width: 1.35em !important;
		}
		svg, .tinvwl-icon-custom img, .tinvwl-product-make-remove::before {margin-right: 5px !important;}
	}
	.wrap_rating_list {font-size: inherit;}
}

// share dropdown
.share_dropdown {
	.dropdown-menu {
		border: none;
		padding: 0;
		a {
			color: $white;
			display: block;
			font-size: 12px;
			padding: 8px;
			svg {
				height: 1.6em;
				margin-right: 7px;
				width: 1.6em;
			}
			&.twitter {background: #48AAE6;}
			&.facebook {background: #4862A3;}
		}
	}
}