.fullwidth_carousel {
	margin-bottom: 6%;
	.carousel_control_next, .carousel_control_prev {
		color: $white;
		font-size: 40px;
	}
	picture {
		width: 100%;
		// set height for different screens
		@media (max-width: 575px) {height: calc(calc(100vw - 10px) / 1.5);} // mobile image
		@media (min-width: 576px) and (max-width: 767px) {height: 265px;}
		@media (min-width: 768px) and (max-width: 991px) {height: 350px;}
		@media (min-width: 992px) and (max-width: 1199px) {height: 376px;} // desktop image
		@media (min-width: 1200px) {height: 448px;} // desktop image - largest screens

		// display image depends on screen size
		@media (max-width: 575px) {&.carousel_img_mobile {display: block !important;}}
		@media (min-width: 576px) and (max-width: 991px) {&.carousel_img_tablet {display: block !important;}}
		@media (min-width: 992px) {&.carousel_img_desktop {display: block !important;}}
	}
}